body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.panell{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.memory-next {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
    justify-self: center;

    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ccc;
}

.memory-game {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
}

.memory-message {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center
}

.buttons{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center
}

.row {
    display: flex;
}

.card {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

/* Colores pastel */

.color1 {
    background-color: #ff8080;
}
.color2 {
    background-color: #ffef96;
}
.color3 {
    background-color: #80e8ff;
}
.color4 {
    background-color: #ff9cf0;
}
.color5 {
    background-color: #95ffdf;
}
.color6 {
    background-color: #78a3f1;
}
.color7 {
    background-color: #5cff6a;
}
.color8 {
    background-color: #ffb171;
}
.color9 {
    background-color: #ffe080;
}



 .button-3 {
     cursor: pointer;
     outline: 0;
     color: #fff;
     background-color: #0d6efd;
     display: inline-block;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
     border: 1px solid transparent;
     padding: 6px 12px;
     font-size: 16px;
     border-radius: .25rem;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     :hover {
         color: #fff;
         background-color: #0b5ed7;
         border-color: #0a58ca;
     }

 }
